html {
    height: 100%;
}
 
body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("./assets/home/background-home-desktop.jpg");
    color: white;
    background-size: 100%  100%;
    font-family: 'Lora', serif;
}
 
hr{
    width: 42%;
    z-index: -1;
    left: 11%;
    position: absolute;
    top: 45px;

}


.nav-item{
    display: inline-block;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing:  1px;
    position: relative;
    margin-right: 35px;
    top: 18px;
    font-family: 'Roboto Condensed', sans-serif;

}
.top-container{
    width: 90%;
    position: absolute;
    top: 5%;
}
.top-items{
    position: absolute;
    left: 50%;
    width: 80%;
    min-width: 560px;
    background: rgba(25, 54, 90, 0.5);
    padding: 25px 50px;
    height: 45px;
}

h2{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2rem;

}
h1{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 6rem;
    margin: 0;
    letter-spacing: 10px;
}

.bottom-container{
    position: absolute;
    top: 45%;
    margin: 0 0 0 10%;
    text-align: left;
    width: 350px;
    font-weight: lighter;
}

p{
    line-height: 2;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}   

.right-container{
    position: absolute;
    left: 60%;
    top: 65%;
}

.circle {
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px; 
    
    /* width and height can be anything, as long as they're equal */
  }

  .explore{
      position: absolute;
      left: 45px;
      top: 85px;
      color: black;
      font-size: 1.5rem;
      font-weight: lighter;
      text-transform: uppercase;
  }

  a, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

.top-items a.section{
    border-bottom: solid white 2px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
        background-image: url("./assets/home/background-home-mobile.jpg");
        margin-left: 20px;
        background-size: 100%;
    }

    hr{
        visibility: hidden;
    }

    .top-items::before{
    content: "";
    position: a;
    left: 20px;
    top: 20px;
    width: 24px;
    height: 4px;
    background: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    }

    .top-items{
        background:none;
        padding: 0px;
        left: 80%;
        width: 10%;
        height: 10%;
        min-width: 20px;
        position: relative;
    }
    .nav-item{
        width: 00;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0px;

    }
    .top-container{
        width: 100%;
    }

    .middle-container{
        width: 50%;
        padding: 0px;
        left: 11%;
    }

    .container{
        display: block;
    }

    .bottom-container{
        top: 20%;
    }

    .right-container{
        overflow: hidden;
        
    }
    .circle{
        left: 25%;

    }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
    body{
        background-image: url("./assets/home/background-home-tablet.jpg");
    }

    hr{
        visibility: hidden;
    }
    .top-container{
        width: 100%;
        right: 200px;
    }
    .bottom-container{
        top: 25%;
        left: 18%
    }

    .circle{
        left: 35%;
        top: 70%;
    }

}