html {
    overflow: hidden;
    height: 100%;
}
 
body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("./assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: 'Lora', serif;
}

hr{
    width: 46%;
    z-index: -1;
    left: 11%;
    position: absolute;
    top: 41px;

}


.nav-item{
    display: inline-block;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing:  1px;
    position: relative;
    margin-right: 35px;
    top: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.top-container{
    width: 90%;
    position: absolute;
    top: 5%;
}
.top-items{
    position: absolute;
    left: 50%;
    width: 80%;
    min-width: 560px;
    background: rgba(25, 54, 90, 0.5);
    padding: 25px 50px;
    height: 45px;
}

.top-items a.section{
    border-bottom: solid white 2px;
}

.top-items a{
    padding-bottom: 35px;
}


h1{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.middle-container{
    margin-left: 10%;
    width: 40%;
    height: 300px;
    position: relative;
    top: 150px;

}

.middle-title{
    position: absolute;
    left: 25px;
}

.p{
    width: 370px;
    line-height: 2;
    font-weight: lighter;
    position: relative;
    top: -50px;
    font-size: .9em;
}

a, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    body{
        background-image: url("./assets/technology/background-technology-mobile.jpg");
        border: green solid;
        margin-left: 20px;
    }


    .top-items::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    width: 24px;
    height: 4px;
    background: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    }

    .top-items{
        background:none;
        border: solid red;
        padding: 0px;
        left: 80%;
        width: 10%;
        height: 10%;
        min-width: 20px;
        position: relative;
    }
    .nav-item{
        width: 00;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 0px;

    }
    .top-container{
        border: yellow solid;
        width: 100%;
    }

    .middle-container{
        width: 50%;
        padding: 0px;

        left: 11%;
    }
}

